{% extends 'base.html' %}

{% block section %}
    {% if not get %}
        <form method="post" style="text-align: center; color:rgb(0, 0, 0)">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Enviar</button>
        </form>
        <hr color="white">
    {% endif %}
    <h4 style="margin-left: 50px;">{{ destination }}</h4>
    <h4 style="margin-left: 50px;">{{ rjson }}</h4>
    {% if get %}
        <a style="margin-left: 650px" class="button" href="">Inicio</a>
    {% endif %}
{% endblock %}